{% extends 'layout.html.twig' %}

    {% block main %}
        <script language = "javascript" src = "https://code.jquery.com/jquery-2.2.4.min.js"></script>
        <script language = "javascript">
            $(document).ready(function() {
                $('#ville').change(function () {
                    var idVille = $(this).val();
                    $('#rue').val("");
                    $('#codepostal').val("");
                    $('#latitude').val("");
                    $('#longitude').val("");
                    $.ajax({
                        url:        '/projet-app-web-sortir.com/public/sorties/add/getLieux',
                        type:       'POST',
                        dataType:   'json',
                        async:      true,
                        data:{idVille:idVille},


                        success: function(data, status) {
                            console.log(data);
                           // $('#lieu').setAttribute('value','test');

                            $('#lieu option'). remove()
                            $.each(data, function( index, value ) {
                                $('#lieu').append($('<option>', {
                                    value: data[index]['id'],
                                    text: data[index]['nom']
                                }));
                            });


                            var idlieu = $('#lieu').val();
                            $('#rue').val( data[idlieu]['rue']);
                            $('#codepostal').val(data[idlieu]['codepostal']);
                            $('#latitude').val(data[idlieu]['latitude']);
                            $('#longitude').val(data[idlieu]['longitude']);

                            $('#lieu').change(function () {
                                var idlieu = $('#lieu').val();
                                $('#rue').val( data[idlieu]['rue']);
                                $('#codepostal').val(data[idlieu]['codepostal']);
                                $('#latitude').val(data[idlieu]['latitude']);
                                $('#longitude').val(data[idlieu]['longitude']);

                            });
                        }
                    });
                });
            })
        </script>
        {{ form_start(sortieForm) }}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center col-12">
                <h2>Créer une sortie</h2>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4"><h4>{{ form_label(sortieForm.nom) }}</h4></div>
                        <div class="col-8">{{ form_widget(sortieForm.nom) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>{{ form_label(sortieForm.dateDeDebut) }}</h4></div>
                        <div class="col-8"> {{ form_widget(sortieForm.dateDeDebut) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>{{ form_label(sortieForm.dateCloture) }}</h4></div>
                        <div class="col-8"> {{ form_widget(sortieForm.dateCloture) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>{{ form_label(sortieForm.nbInscriptionMax) }}</h4></div>
                        <div class="col-8">{{ form_widget(sortieForm.nbInscriptionMax) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>{{ form_label(sortieForm.duree) }}</h4></div>
                        <div class="col-8"> {{ form_widget(sortieForm.duree) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>{{ form_label(sortieForm.descriptionInfos) }}</h4></div>
                        <div class="col-8">{{ form_widget(sortieForm.descriptionInfos) }}</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row mt-3">

                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>Campus </h4></div>
                        <div class="col-8"><input type="text" value="{{ user.campus.nom_campus}}"  class="form-control"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>Ville</h4></div>
                        <div class="col-8">
                            <select name="ville" class="form-control" id="ville">
                                <option value=""></option>
                                {% for ville in villes %}
                                    <option value="{{ ville.id|e }}">{{ ville.nom|e }}</option>
                                {% endfor %}
                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>Lieu </h4></div>
                        <div class="col-8">
                            <select name="lieu" class="form-control" id="lieu">

                            </select>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>Rue</h4></div>
                        <div class="col-8"><input id="rue" type="text"  class="form-control"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>Code Postal</h4></div>
                        <div class="col-8"><input id="codepostal" type="text"  class="form-control"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>Latitude</h4></div>
                        <div class="col-8"><input id="latitude" type="text"  class="form-control"></div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4"><h4>Longitude</h4></div>
                        <div class="col-8"><input id="longitude" type="text"  class="form-control"></div>
                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <button class="btn btn-lg btn-secondary m-2" type="submit">Enregistrer</button>
                <button class="btn btn-lg btn-secondary m-2" type="button">Publier la sortie</button>
                <button class="btn btn-lg btn-secondary m-2" type="button">Annuler</button>
            </div>
        </div>
    </div>
    {{ form_end(sortieForm) }}



{% endblock %}