{% extends 'layout.html.twig' %}
{% block main %}

    {{ form_start(sortieForm) }}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="row justify-content-center col-12">
                <h2>Créer une sortie</h2>
            </div>
            <div class="row mt-3">
                <div class="col-6">
                    <div class="row">
                        <div class="col-4">{{ form_label(sortieForm.nom) }}</div>
                        <div class="col-8">{{ form_widget(sortieForm.nom) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">{{ form_label(sortieForm.dateDeDebut) }}</div>
                        <div class="col-8"> {{ form_row(sortieForm.dateDeDebut) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">{{ form_label(sortieForm.dateCloture) }}</div>
                        <div class="col-8"> {{ form_row(sortieForm.dateCloture) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">{{ form_label(sortieForm.nbInscriptionMax) }}</div>
                        <div class="col-8">{{ form_row(sortieForm.nbInscriptionMax) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">{{ form_label(sortieForm.duree) }}</div>
                        <div class="col-8"> {{ form_row(sortieForm.duree) }}</div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-4">{{ form_label(sortieForm.descriptionInfos) }}</div>
                        <div class="col-8">{{ form_row(sortieForm.descriptionInfos) }}</div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="row mt-3">

                    </div>
                    <div class="row mt-3">

                    </div>
                    <div class="row mt-3">
                        <div class="col-4">{{ form_label(sortieForm.lieux_no_lieux) }}</div>
                        <div class="col-8">{{ form_row(sortieForm.lieux_no_lieux) }}</div>
                    </div>
                    <div class="row mt-3">

                    </div>
                    <div class="row mt-3">

                    </div>
                    <div class="row mt-3">

                    </div>
                    <div class="row mt-3">

                    </div>
                </div>
            </div>
            <div class="row justify-content-center mt-5">
                <button class="btn btn-lg btn-secondary m-2" type="submit">Enregistrer</button>
                <button class="btn btn-lg btn-secondary m-2" type="button">Publier la sortie</button>
                <button class="btn btn-lg btn-secondary m-2" type="button">Annuler</button>
            </div>
        </div>
    </div>
    {{ form_end(sortieForm) }}
{% endblock %}