{% extends 'layout.html.twig' %}
{% block main %}
    {{dump(sorties)  }}
    <div class="row justify-content-center ">
        <div class="col-12">
            <div class="row justify-content-center">
               <div class="col-5" >
                   <div class="row">
                       <div class="col-12">
                           <label for="campus">Campus</label>
                           <select id="campus" class="form-control form-control-lg">
                           </select>
                       </div>
                   </div>
                   <div class="row">
                       <div class="col-12">
                           <label for="nomSortie">Le nom de la sortie contient</label>
                           <input type="text" class="form-control form-control-lg" id="nomSortie">
                       </div>
                   </div>
                   <div class="row">
                        <div class="col-6">
                            <label for="entreDate">Entre</label>
                            <input type="date" id="entreDate" name="trip-start" class="form-control form-control-lg">
                        </div>
                       <div class="col-6">
                           <label for="sortieDate">et</label>
                           <input type="date" id="sortieDate" name="trip-start" class="form-control form-control-lg">
                       </div>
                   </div>
               </div>
                <div class="col-5" >
                    <div class="row">
                        <input type="checkbox" id="sortieOrga" class="">
                        <label for="sortieOrga">Sorties dont je suis L'organisateur/trice</label>
                    </div>
                    <div class="row">
                        <input type="checkbox" id="sortieinscrit" class="">
                        <label for="sortieinscrit">Sorties auxquelles je suis inscrit/e</label>
                    </div>
                    <div class="row">
                        <input type="checkbox" id="sortiePasInscrit" class="" >
                        <label for="sortiePasInscrit">Sorties auxquelles je ne suis pas inscrit/e</label>
                    </div>
                    <div class="row">
                        <input type="checkbox" id="sortiepasse"  class="">
                        <label for="sortiepasse">Sorties passées</label>
                    </div>
                </div>
                <div class="col-2" >
                    <button class="btn btn-lg btn-secondary" type="submit">recherche</button>
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-12">
                    <table class="table table-striped">
                        <thead>
                        <tr>
                            <th scope="col">Nom de la sortie</th>
                            <th scope="col">Date de la sortie</th>
                            <th scope="col">Clôture</th>
                            <th scope="col">inscrits/places</th>
                            <th scope="col">Etats</th>
                            <th scope="col">Inscrit</th>
                            <th scope="col">Organisateur</th>
                            <th scope="col">Actions</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for sortie in sorties %}
                        <tr>

                            <td>{{ sortie.nom|e }}</td>
                            <td>{{ sortie.dateDeDebut|date("m/d/Y") }}</td>
                            <td>{{ sortie.dateCloture|date("m/d/Y") }}</td>
                            <td>place</td>
                            <td></td>
                            <td>inscrit</td>
                            <td>organisateur</td>
                            <td></td>

                        </tr>
                        {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="col-12">
                <a href="{{ path("sortie_add") }}"><button class="btn btn-secondary" type="button">Créer une sortie</button></a>
            </div>
        </div>
    </div>


{% endblock %}

