<nav>
    <ul>
        <a href="{{ path('accueil') }}">Accueil</a>
        <a href="{{ path('accueil') }}">Villes</a>
        <a href="{{ path('accueil') }}">Campus</a>
        <a href="{{ path('profil', {id:app.user.id}) }}">Mon Profil</a>
        {% if app.user.administrateur %}
            <a href="{{ path('add_user') }}">Ajouter utilisateur</a>
        {% endif %}
        <a href="{{ path('logout') }}">Se déconnecter</a>
    </ul>
</nav>