<nav>
    <ul>
        <a href="{{ path('accueil') }}">Accueil</a>
        <a href="{{ path('accueil') }}">Villes</a>
        <a href="{{ path('accueil') }}">Campus</a>
        <a href="{{ path('profil') }}">Mon Profil</a>
        <a href="{{ path('logout') }}">Se déconnecter</a>
    </ul>
</nav>